  * {box-sizing: border-box}

    .containerhover {
    position: relative;
    width: 100%;
  }
    .carousel-inner .carousel-item {
      height: 400px;
    }

    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      height: auto;
      transition: .5s ease;
      opacity:0;
      color: white;
      font-size: auto;
      padding: 10px;
      text-align: center;
    }

    .containerhover:hover .overlay {
      opacity: 1;
    }

    .fixedbutton{
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .s_card{
        animation: slideInDown;
        animation-duration: 0.7s;
    }
    
    hr.rounded {
        border-top: 4px solid rgb(233, 233, 233);
        border-radius: 2.5px;
      }
    .con{
        animation: test 0.7s;
    }
    @keyframes test{
    0% {
            opacity: 0;
          }
    45% {
            opacity: 0;
    }
    100% {
            opacity: 1;
          }
    }

    .boxsh{
      background: rgba(255, 187, 187, 0.3);
      box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
      backdrop-filter: blur(8.8px);
      -webkit-backdrop-filter: blur(8.8px);
      border-radius: 10px;
      box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.1);
    }

    .fixedbutton{
      position: fixed;
      bottom: 0;
      right: 0;
      background: rgba(255,164,164,0.15);
      backdrop-filter: blur(8.8px);
      -webkit-backdrop-filter: blur(8.8px);
      box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.1);
      color: rgb(252, 244, 142);
    }